---
export interface Props {
	elementTitle: string;
	elementBody: string;
	elementHref: string;
}

const { elementTitle, elementBody, elementHref } = Astro.props;
---

<li>
	<a href={elementHref}>
		<h4>
			{elementTitle}
		</h4>

	</a>
	<span>
		{elementBody}
	</span>
</li>


