---

---

<div style="display: flex; justify-content: space-between;"> 
  <div>
    <a href="https://htmldev30.github.io/Portfolio/">
      <span>home</span>
      </a>
      <a href="https://htmldev30.github.io/Portfolio/blog/">
      <span>blog</span>
      </a>
  </div>
  <div>
    <a href="mailto:htmldev30@gmail.com">
      <span>email me</span>
      </a>
  </div>
</div>

