---

---

<div style="display: flex; justify-content: space-between;"> 
  <div>
    <a href="./portfolio">
      <span>home</span>
      </a>
      <a href="./portfolio/blog">
      <span>blog</span>
      </a>
  </div>
  <div>
    <a href="mailto:htmldev30@gmail.com">
      <span>email me</span>
      </a>
  </div>
</div>


<style>
    div{
		margin-top: 0.5rem;
    }
  span{
    display: inline-block;
  }

</style>