---

---

<div style="display: flex; justify-content: space-between;"> 
  <div>
    <a href="./">
      <span>home</span>
      </a>
      <a href="./blog">
      <span>blog</span>
      </a>
  </div>
  <div>
    <a href="mailto:htmldev30@gmail.com">
      <span>email me</span>
      </a>
  </div>
</div>

